.btn {
    display: inline-block;
    font-size: 1.15em;
    margin: 0.5em 3em;
    max-height: 30px;
    width: 100px;
    text-transform: uppercase;

    text-decoration: none;
    text-align: center;
    color: #888787;
    transition: all 0.15s;
    border: 0.1em solid #888787;
    border-radius: 20px;
}

.btn:hover {
    color: #6d6d6d;
    border-color: #6d6d6d;
}

.recipe-title {
    text-align: center;
}

.recipe-details-wrapper {
    display: "flex";
    justify-content: "space-between";

    padding: 30px;
    margin: 5% auto;
    background-color: rgb(255 217 197 / 5%);
    border: 1px solid lightgray;
    box-shadow: 0 5px 10px rgb(40, 40, 40, 0.3);
    width: 50%;
    border-radius: 15px;
}

.create-comment {
    background-color: "#c0b3dc";
    padding: 20px;
    margin: 20px;
}

.create-comment-text-area {
    /* margin-right: 20px;
    margin-top: 10;
    border-radius: 8px; */
    margin: auto auto;
}

.recipe-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: "inline-block";
}

.recipe-details-box {
    padding: 30px;
}

.comments-section {
    text-align: center;
}

.create-comment-text-area {
    width: 400px;
    height: 100px;
}

.comments-title {
    font-size: 1.5rem;
    font-style: italic;
}

.btn {
    display: inline-block;
    font-size: 1.15em;
    margin: 0.5em 3em;
    max-height: 100px;
    width: 100px;
    text-transform: uppercase;

    text-decoration: none;
    text-align: center;
    color: #888787;
    background-color: white;
    transition: all 0.15s;
    border: 0.1em solid #888787;
    border-radius: 15px;
}

.comment-btn {
    display: inline-block;
    font-size: 1.15em;
    margin: 0.5em 3em;
    max-height: 100px;
    width: 200px;
    text-transform: uppercase;

    text-decoration: none;
    text-align: center;
    color: #888787;
    background-color: white;
    transition: all 0.15s;
    border: 0.1em solid #888787;
    border-radius: 15px;
}

.btn:hover {
    color: #6d6d6d;
    border: 0.1em solid #888787;
    background-color: rgb(230, 230, 230);
}

.form-control {
    display: flex;
    justify-content: center;
}