.container {
    margin: 2% auto;
    padding: 1.5% 3% 2% 3%;
    border-radius: 15px;
    border: 2px solid lightgrey;
    background-color: rgb(255 217 197 / 5%);
    text-align: center;
    width: 30%;
}

.form-group > input {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid lightgray;
}

.container.labels {
    position: relative;
    top: 20px;
}

.labels {
}
