.profileContainer {
    width: 30%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.backgroundImage {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/032/733/565/small_2x/various-healthy-products-on-wooden-background-created-with-generative-ai-photo.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 20px;
    border-radius: 15px 15px 0 0;
}

.userProfileHeader {
    text-align: center;
    margin-bottom: 20px;
}

.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.userName {
    font-size: 1.8rem;
    color: #fff;
}

.userLocation {
    font-size: 1rem;
    color: #f0f0f0;
}

.statsContainer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.statCard {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.statCard h3 {
    font-size: 2rem;
    margin: 0;
    color: #3498db;
}

.statCard p {
    color: #555;
}

.sectionsContainer {
    margin-top: 30px;
}

.recipeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
}

.recipeItem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 80%;
    max-width: 200px;
    margin: auto;
}

.recipeItem:hover {
    transform: scale(1.05);
}

.recipeItem img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipeItem h4 {
    font-size: 1rem;
    color: #333;
}

.recipeItem p {
    font-size: 0.8rem;
    color: #666;
}
