.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--primary-text-color);
    transition: transform 0.3s ease;
    z-index: 9999;
    padding: 0;
}

.searchIcon {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--primary-text-color);
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}

.searchIcon:hover {
    color: var(--hover-text-color);
    filter: brightness(1.2);
}

.searchIconContrast {
    color: var(--search-icon-contrast);
}

.searchContainer.active .searchIcon {
    color: var(--search-icon-contrast);
}

.searchContainer.active .searchIcon {
    transform: rotate(90deg);
}

.searchBox {
    position: absolute;
    left: -215px;
    width: 247px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.searchInput {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.searchDropdown {
    position: absolute;
    top: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    max-height: 375px;
    overflow-y: auto;
    z-index: 999999;
    background-color: var(--header-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    width: 270px; /* Slightly wider */
    border-radius: 8px;
}

.searchItem {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid var(--border-color);
}

.searchItem:last-child {
    border-bottom: none;
}

.searchItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.searchImg {
    width: 50px; /* Larger image */
    height: 50px;
    border-radius: 8px; /* Slightly rounded corners */
    object-fit: cover;
}

.searchText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipeTitle {
    font-weight: bold;
    color: var(--primary-text-color);
}

.recipeDesc {
    font-size: 0.85rem;
    color: #666;
}

@media (max-width: 768px) {
    .searchDropdown {
        width: 100%; /* Full width on mobile */
        left: 0;
        border-radius: 0;
    }

    .searchItem {
        padding: 10px;
    }

    .searchImg {
        /* width: 40px;
        height: 40px; */
    }

    .searchBox {
        left: -227px;
        width: 256px;
    }
}
