.form-container {
    padding: 30px;
    margin: 80px;
    background-color: #bcb88a;
    border: 5px solid #8c5e58;
    border-radius: 15px;
    width: 50%;
}

.add-recipe-title {
    margin-bottom: 10px;
}

