@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

.view-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    z-index: 9999;
    padding: 0 50px;
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.view-nav a,
.view-nav button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.view-nav a:focus,
.view-nav button:focus {
    outline: none;
}

.brand {
    display: flex;
    gap: 20px;
    width: 130px;
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 1.8rem;

    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 100%;
    -webkit-text-stroke: 0.5px #333;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    height: 100%;
    line-height: 1;
}

.logo-eat {
    color: var(--primary-text-color);
}

.logo-and {
    color: #bb1919;
    font-weight: 400;
    font-size: 1.6rem;
}

.logo-amare {
    color: var(--primary-text-color);
}

.auth-icons {
    list-style: none;
    display: flex;
    gap: 35px;
    flex-shrink: 0;
    width: 130px;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.auth-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    height: 100%;
}

.menuButton {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    color: var(--primary-text-color);
    padding: 0;
    align-self: center;
}

.hideLinks {
    padding: 0;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-shrink: 0;
    height: 100%;
    margin: 0;
    align-items: center;
    padding: 0;
}

.navLinks a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: filter 300ms;
}

.navLinks a:hover {
    color: var(--hover-text-color);
    filter: brightness(1.2);
}

/* Recipes Dropdown Menu */
.dropdown {
    position: relative;
}

.recipesDropdown,
.seasonalDropdown,
.newsDropdown {
    display: none;
    list-style: none;
    position: absolute;
    background-color: var(--header-bg-color);
    top: 100%;
    margin: 0;
    left: -30px;
    width: 200px;
    z-index: 999999;
    transform: translateZ(0);
    padding: 20px 15px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

.dropdown:hover .recipesDropdown,
.dropdown:hover .seasonalDropdown,
.dropdown.hover .newsDropdown {
    display: block;
}

.recipesOpen .recipesDropdown,
.seasonalOpen .seasonalDropdown,
.newsOpen .newsDropdown {
    display: flex;
}

.recipesDropdown li a,
.seasonalDropdown li a,
.newsDropdown li a {
    color: var(--primary-text-color);
    font-size: 0.9rem;
    text-decoration: none;
}

.recipesDropdown .all-recipes-button a {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* ------------ Media Queries ------------ */
@media (max-width: 1210px) {
    .view-nav {
        position: sticky;
        top: 0;
        z-index: 999999;
        transform: translateZ(0);
    }

    .menuButton {
        display: block;
        height: 40px;
    }

    .searchWrapper {
        display: none;
    }

    .dropdown {
        border-bottom: 1px solid var(--border-color);
        width: 100%;
    }

    .hideLinks {
        display: none;
        flex-direction: column;
        background-color: var(--header-bg-color);
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
        z-index: 999999;
        margin: 0;
        padding: 20px;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    .navLinks a:hover {
        color: var(--primary-text-color);
    }

    .navLinks.open {
        display: flex;
        flex-flow: column nowrap;
        background-color: var(--header-bg-color);
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
        margin: 0;
        padding: 20px;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.01em;
        -webkit-overflow-scrolling: touch;
        align-items: flex-start;
    }

    .recipesDropdown,
    .seasonalDropdown,
    .newsDropdown {
        display: none;
        flex-direction: column;
        background-color: transparent;
        position: static;

        border: none;
        box-shadow: none;

        /* background-color: aqua;
        border-bottom: 5px solid #ff0000;
        width: 100%; */
    }

    .recipesOpen .recipesDropdown,
    .seasonalOpen .seasonalDropdown,
    .newsOpen .newsDropdown {
        display: flex;
    }

    .recipesDropdown li,
    .seasonalDropdown li,
    .newsDropdown li {
        padding: 5px 0;
    }

    .recipesDropdown li a,
    .seasonalDropdown li a,
    .newsDropdown li a {
        color: var(--primary-text-color);
    }

    .recipesDropdown li a:hover,
    .seasonalDropdown li a:hover,
    .newsDropdown li a:hover {
        color: var(--primary-text-color);
    }

    .nav-icons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .view-nav {
        padding: 0 20px;
    }

    .brand {
        width: auto;
    }

    .auth-icons {
        width: auto;
        align-self: center;
    }

    .auth-icons .navLinks {
        gap: 15px;
    }
}

.mobile {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    height: 100svh;
    width: 100%;
}

.auth-icons .navLinks i {
    font-size: 1.3rem;
}
