.view-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: #333;
    /* background-color: #5c5c5c; */

    border-bottom: 1px solid #ddd;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* position: sticky;
    top: 0;
    z-index: 999999;
    transform: translateZ(0); */
}

.view-nav a,
.view-nav button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.view-nav a:focus,
.view-nav button:focus {
    outline: none;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.brand a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #dddddd;
}

.menuButton {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    color: #dddddd;

}

.navLinks {
    list-style: none;
    display: flex;
    gap: 35px;
    flex-shrink: 0;
}

.navLinks a {
    font-size: 1.2rem;
    text-decoration: none;

    color: #dddddd;
    transition: color 0.3s ease, font-weight 0.2s ease;
}

.navLinks a:hover {
    border-bottom: 1px solid #8a8a8a;
    color: #8f8f8f;
    /* color: #ff9800;    may be not very good to ask people */
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdownMenu {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    margin: 0;
    left: -30px;
    width: 200px;
    z-index: 999999;
    transform: translateZ(0); /* Force a new rendering layer */
    padding: 20px 15px;
    flex-direction: column;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdownOpen .dropdownMenu {
    display: flex;
}

.dropdownMenu li a {
    color: #dddddd;
    font-size: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.dropdownMenu li a:hover {
    /* background-color: #838282; */
    color: #8f8f8f;
}

/* Mobile Styling                   -- show menu here*/
@media (min-width: 768px) {
    /* #navLinks {
        display: flex;
        flex-flow: row nowrap;
        flex-basis: auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 1px;
    } */
}

@media (max-width: 1210px) {
    .view-nav {
        position: sticky;
        top: 0;
        z-index: 999999;
        transform: translateZ(0);
    }

    .menuButton {
        display: block;
    }

    .dropdown {
        border-bottom: 1px solid #8a8a8a;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        background-color: #f8f8f8;
        position: fixed;

        top: 56.19px;
        left: 0;
        width: 100%;
        height: calc(100vh - 56.19px);
        z-index: 999999;
        transform: translateZ(0);
        margin: 0;
        padding: 20px 20px;
    }

    .navLinks a:hover {
        border: none;
    }

    .navLinks.open {
        z-index: 1013;
        display: flex;
        margin-top: 55.19px;
        flex-flow: column nowrap;
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100vh - 55.19px);
        overflow-y: auto;
        overscroll-behavior: contain;
        width: 100vw;
        max-width: 676px;
        padding-bottom: 100px;
        background-color: #333;
        font-family: var(--fonts-heading);
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.01em;

        -webkit-overflow-scrolling: touch;
    }

    /* Dropdown menu styles */
    .dropdownMenu {
        display: none;
        flex-direction: column;
        background-color: transparent;

        position: static;
    }

    .dropdownOpen .dropdownMenu {
        display: flex;
    }

    .dropdownMenu li {
        padding: 10px 0;
    }

    .dropdownMenu li a {
        color: 8a8a8a;
        text-decoration: none;
    }

    .dropdownMenu li a:hover {
        color: #8f8f8f;
    }
}

/* Prevent scrolling when menu is open */
/* .bodyNoScroll {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    height: 100svh;
} */
.mobile {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    height: 100svh;
}

/* .desktop {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    height: 100svh;
} */