.main-wrapper {
    display: flex;
    justify-content: space-around;
}

.content-wrapper {
    width: 70%;
}

.side-menu-wrapper {
    width: 20%;
    height: 2000px;
    padding-left: 50px;
    margin-bottom: 50px;
    background-color: bisque;

}

.trending-recipes {
    background-color: lightcyan;
    height: 600px;
    margin-bottom: 50px;
    text-align: center;
}

.cooking-tips {
    background-color: lightslategray;
    height: 350px;
    width: 45%;
    margin-bottom: 50px;
}

.easy-recipes {
    background-color: lightgray;
    width: 45%;
    height: 350px;
}

.food-news {
    background-color: lightskyblue;
    height: 250px;
    margin-bottom: 50px;
}

.cleaning-organizing {
    background-color: lightseagreen;
    height: 300px;
}

.home-titles {
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    text-decoration: underline;
}


/* test */
.horizontal-row {
    display: flex;
    justify-content: space-between;
}