.dropdown {
    position: relative;
}

.dropdownToggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
}

.dropdownMenu {
    list-style: none;
    background-color: #444;
    padding: 10px;
    margin: 0;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 200;
    left: 0;
}

.dropdown.desktop:hover .dropdownMenu {
    display: flex;
}

.dropdown.mobile .dropdownMenu {
    display: flex;
    position: static;
    padding: 10px 15px;
}

.dropdownMenu li {
    padding: 10px 0;
}

.dropdownMenu li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.dropdownMenu li a:hover {
    color: #ff9800;
}
