.recipeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 30px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}



.addRecipeCard {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    border: 2px dashed #ccc;
    border-radius: 10px;
    position: relative;
}

.addRecipeCard:hover {
    transform: scale(1.05);
    background: #f3f3f3;
}

.addIcon {
    font-size: 40px;
    margin-bottom: 5px;
}

.addButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff5733;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background 0.2s;
}

.addButton:hover {
    background: #e64a2e;
    transform: scale(1.1);
}

@media (max-width: 1420px) {
    .recipeGrid {
        max-width: 1000px;
    }
}

@media (max-width: 1120px) {
    .recipeGrid {
        max-width: 800px;
    }
}

@media (max-width: 820px) {
    .recipeGrid {
        max-width: 500px;
    }
}