/* Search Bar */
.search-form {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #333333cc;
    color: white;
    padding: 10px 0;
    margin-bottom: 3rem;
    gap: 30px;
}

.search-form h2 {
    font-size: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.search-form h2 > span {
    margin-left: 10px;
}

/* Input and Select Containers */
.search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
}

.search-form input,
.search-form select {
    background: transparent;
    outline: none;
    color: white;
    /* border: 1px solid #ffffff75; */
    transition: border-color 0.3s ease;
}

.search-form input {
    background: white;
    border-right: none;
    width: 100%;
    padding: 0 10px;
    color: black;
    height: 35px;
    border-radius: 5px;
}

.search-form select option {
    color: black;
}

/* .search-form input:hover,
.search-form input:focus {
    border: 1px solid #cccccc56;
    background-color: #f9f9f9;
} */

/* Buttons */
.search-form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-form .close-btn {
    position: absolute;
    right: 5px;
    width: 25px;
    height: 25px;
    color: #5f6063;
    cursor: pointer;
}

/* Filter Section */
.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

.filter > span {
    font-weight: bold;
    color: #fff;
}

/* Dropdown Styling */
.criteria {
    padding: 8px 12px;
    font-size: 0.9rem;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    background-color: #f9f9f9;
    /* transition: border-color 0.3s ease, box-shadow 0.3s ease; */
    width: 110px;
    /* border-color: #5cb85c; */
}

.criteria:hover {
    /* border: 1px solid #f8f8f8ab; */
}

/* Disabled Buttons */
.btn:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.5);
}

.btn:disabled svg {
    color: #ccc;
}

/* Specialized Buttons */

.btn.close {
    background-color: transparent;
    padding: 5px 10px;
    height: auto;
}

/* Icon and Miscellaneous */
.search-form .icon {
    color: white;
    position: relative;
}

.before {
    margin-right: 10px;
}

.after {
    margin-left: 10px;
}

.btn {
    padding: 5px;
    opacity: 0.7;
    width: 30px;
    height: 30px;
}

.btn:hover {
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-input-container {
        display: none;
    }
    .search-form {
        flex-direction: column;
    }

    .search-form h2 {
        display: none;
    }

    .search-input-container {
        width: 100%;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .criteria {
        width: 100%;
        display: none;
    }
}

.search-form {
    margin: 0;
    display: flex;
    align-items: center;
}

.search-input {
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    width: 200px; /* Adjust width as needed */
}

.search-input:focus {
    outline: none;
    border-color: #888;
}

@media (max-width: 768px) {
    .navbar .search-form {
        max-width: 100%; /* Full width on mobile */
        margin: 10px 0;
    }
}
