.cook-time {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    margin-bottom: 5px;
    font-weight: 400;
    position: absolute;
    top: -2rem;
    color:#6d6d6d;
}

.recipe-list-item-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;

    /* padding: 1%; */
    height: 150px;
    margin-bottom: 50px;

    background-color: rgb(255 217 197 / 5%);
    border: 2px solid lightgrey;

    /* scale the element from end to end */
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
}

.recipe-content-wrapper {
    width: 70%;
    overflow: hidden;
    margin: auto 2% auto 2%;
}

.recipe-name-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.recipe-description-wrapper {
    display: flex;
    flex-direction: column;
}

.recipe-image-wrapper {
    max-height: 150px;
    max-width: 150px;
    min-height: 0;
    width: 30%;
}

.recipe-img {
    height: 100%;
    width: 100%;
}

/* Buttons  */
.view-recipe-btn {
    display: inline-block;
    font-size: 1.15em;
    margin: 1.8em 3em;
    max-height: 30px;
    width: 100px;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #888787;
    transition: all 0.15s;
    background-color: white;
    border: 0.1em solid #888787;
    border-radius: 15px;
}

a.view-recipe-btn:hover {
    color: #6d6d6d;
    border: 0.1em solid #888787;
    background-color: rgb(230, 230, 230);
}
