.recipeItem {
    width: 220px;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
    background: var(--card-bg);
    box-shadow: 0 4px 6px var(--card-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
    position: relative;

    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

.recipeItem:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
}

.recipeLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.recipeImage {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.recipeContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.recipeTitle {
    font-size: 18px;
    font-weight: bold;
    color: var(--card-text-color);
}

.recipeDescription {
    font-size: 13px;
    color: var(--card-desc-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipeMeta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--card-meta-color);
    margin-top: auto;
}

.difficultyBadge {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--badge-bg);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.easy {
    background-color: #29a55a; /* green */
    color: #fff;
    /* opacity: 0.9; */
}

.medium {
    background-color: #bd8e2a; /* orange */
    color: #fff;
}

.hard {
    background-color: #ca4334; /* red */
    color: #fff;
}

.recipeTitle,
.recipeDescription {
    text-align: left;
}