@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");


:root {
    /* light version */
    --primary-bg-color: #fff;
    /* --header-bg-color: #f9f9f9; */
    --header-bg-color: #eee;
    --footer-bg-color: #8d8d8c;
    --primary-text-color: #0f0f0f;
    --hover-text-color: #ffa500;
}

.dark-theme {
    --primary-bg-color: #bcac9b;
    --header-bg-color: #2a3d45;
    --footer-bg-color: #7a6c5d;
    --primary-text-color: #ffffff;
    --hover-text-color: #ffae00;
}

html {
    overflow-y: scroll;
}

.body,
html {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", "Arial", sans-serif;
    min-height: 100vh;
}

.body {
    background-color: var(--primary-bg-color);
}
