@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

:root {
    /* Light theme */
    --primary-bg-color: #fff;
    --header-bg-color: #f5f5f5;
    --footer-bg-color: #8d8d8c;
    --primary-text-color: #0f0f0f;
    --hover-text-color: #ffa500;

    --card-bg: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --card-text-color: #0f0f0f;
    --card-desc-color: #666;
    --card-meta-color: #555;
    --badge-bg: #ff5733;

    --border-color: #dddddd;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

.dark-theme {
    /* Dark theme */
    --primary-bg-color: #1a252e;
    --header-bg-color: #2a3d45;
    --footer-bg-color: #2a3d45;
    --primary-text-color: #ffffff;
    --hover-text-color: #f39c12;

    --card-bg: #2a3d45;
    --card-shadow: rgba(0, 0, 0, 0.5);
    --card-text-color: #f9f3e3;
    --card-desc-color: #cccccc;
    --card-meta-color: #aaaaaa;
    --badge-bg: #ffae00;

    --border-color: rgba(0, 0, 0, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --search-icon-contrast: #1a252e;
}

html {
    overflow-y: scroll;
}

.body,
html {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", "Arial", sans-serif;
    min-height: 100vh;
}

.body {
    background-color: var(--primary-bg-color);
}
